.restaurantsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 54px $gutter-mobile 68px;
    background-color: $neutral-tertiary;

    &__title {
        @include typographies(title)
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@include tablet {
    .restaurantsSection {
        padding-right: $gutter-tablet;
        padding-left: $gutter-tablet;
        border-radius: 32px;

        &__title {
            text-align: center;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto;
            justify-items: center;
            row-gap: 24px;
        }
    }
}