.dishSet {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__titleContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    @include typographies(subtitle-medium);
    text-transform: uppercase;
  }

  &__titleUnderline {
    width: 40px;
    height: 3px;
    background-color: $highlight-tertiary;
  }

  &__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@for $i from 1 through 10 {
  .dishSet:nth-child(#{$i}) {
    @for $j from 1 through 10 {
      & .dishSet__item:nth-child(#{$j}) {
        animation: slide-in 600ms calc(($i - 1) * 400ms + ($j - 1) * 150ms) 1 both;
      }
    }
  }
}
