$nb-of-disc: 50;
$anim-delay: 20ms;
$anim-duration: $nb-of-disc * $anim-delay;
$disc-size: 16px;
$loader-size: 100px;

.loader {
  border-radius: 50%;
  animation: spin $anim-duration 10 ease both;
  perspective: 1px;
  transform-origin: center $loader-size * 0.5;
  position: absolute;

  @for $n from 1 through 50 {
    &:nth-of-type(#{$n}) {
      animation-delay: $n * $anim-delay / 4;
      background-color: mix(
        $highlight-secondary,
        $highlight-primary,
        $n * (100 / $nb-of-disc)
      );
      z-index: 100 - $n;
      opacity: 1 - ($n / 1.2) * (1 / $nb-of-disc);
      top: disc-size-calc($n) * -0.5;
      left: calc(50% + disc-size-calc($n) * -0.5);
      width: disc-size-calc($n);
      height: disc-size-calc($n);
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: $basic-white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-out 500ms 1900ms forwards;
  }

  &__container {
    width: $loader-size;
    height: $loader-size;
    border-radius: 50%;
    position: relative;
    top: -5vh;
    animation: fade-out 300ms 1500ms forwards;
  }
}
