@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

$typographies: (
  header-big: (
    font-family: (
      'Shrikhand',
      serif,
    ),
    font-size: 30px,
    line-height: 30px,
  ),
  header-medium: (
    font-family: (
      'Shrikhand',
      serif,
    ),
    font-size: 28px,
    line-height: 28px,
  ),
  title: (
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-size: 24px,
    font-weight: 700,
  ),
  body: (
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-size: 16px,
    font-weight: 400,
  ),
  label: (
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-size: 14px,
    font-weight: 500,
  ),
  subtitle-big: (
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-size: 18px,
    font-weight: 300,
  ),
  subtitle-medium: (
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-size: 16px,
    font-weight: 300,
  ),
  btn-title: (
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-size: 16px,
    font-weight: 500,
  ),
  card-title: (
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-size: 18px,
    font-weight: 400,
  ),
  card-subtitle: (
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-size: 17px,
    font-weight: 300,
  ),
  card-body-light: (
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-size: 15px,
    font-weight: 300,
  ),
  card-body-bold: (
    font-family: (
      'Roboto',
      sans-serif,
    ),
    font-size: 15px,
    font-weight: 500,
  ),
);
