@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin typographies($type) {
  $typography: map-get($typographies, $type);
  @each $attribute, $val in $typography {
    #{$attribute}: #{$val};
  }
}

@mixin bg-gradient($percent) {
  background: linear-gradient(
    0deg,
    $highlight-secondary 0%,
    $highlight-primary $percent * 0.7,
    $highlight-primary $percent,
    transparent $percent * 1.01
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin like-icon($size) {
  width: $size;
  height: $size;
  cursor: pointer;
  &__stroke {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: $size;
    opacity: 1;
  }
  &__bg {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: $size;
    color: transparent;
  }
  &:hover .likeIcon__stroke {
    opacity: 0;
    transition: opacity 300ms 200ms ease;
  }
  &:hover .likeIcon__bg {
    animation: gradient-fill 250ms ease both;
  }
}
